include INSTALL
include CHANGELOG
include README
include LICENSE
include MANIFEST.in
recursive-include docs/en/man *
recursive-include docs/en/html *
recursive-include docs/examples *
#recursive-include tests *
#global-exclude *pyc
