include INSTALL
include CHANGELOG
Include README
include LICENSE
include MANIFEST.in
recursive-include docs/en/man *
recursive-include docs/en/html *
recursive-include docs/examples *
recursive-include tests *
